altgraph==0.17.4
anglicize==0.0.3
black==22.1.0
blue==0.9.1
cffi==1.16.0
click==8.1.7
colorama==0.4.6
cx_Freeze==7.0.0
cx_Logging==3.2.0
distro==1.9.0
exceptiongroup==1.2.1
filelock==3.14.0
flake8==4.0.1
geographiclib==2.0
geopy==2.4.1
h3==3.7.7
iniconfig==2.0.0
isort==5.13.2
jellyfish==0.11.2
lief==0.14.1
mccabe==0.6.1
mypy-extensions==1.0.0
numpy==1.26.4
packaging==24.0
patchelf==0.17.2.1
pathspec==0.12.1
pefile==2023.2.7
pillow==10.3.0
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.8.0
pycparser==2.22
pydash==8.0.5
pyflakes==2.4.0
pyglet==2.0.15
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.5
pytest==8.2.2
pytz==2024.1
pywin32-ctypes==0.2.2
scikit-build==0.17.6
timezonefinder==6.5.0
tkextrafont==0.6.1
tomli==2.0.1
typing_extensions==4.15.0
us==3.1.1
wincertstore==0.2
